p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: black;
}

nav {
    border: 3px;
    border-style: dashed;
    border-color: red;
}

.s7ths,
.m7ths,
.l7ths,
.xl7ths {
    margin-left: auto;
    left: auto;
    right: auto;
}

.row .col.s7ths{
    width: 14.28%;
    height: 25vh;
}

#week {
    border: 3px;
    border-style: dashed;
    border-color: red;
    /* margin: 0 auto; */
}

.day{
    /* display: inline; */
    border: 3px;
    border-style: dashed;
    border-color: red;
    /* height: 100vh; */
}

#quoteText {
    font-size: 25px;
}
