p {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    color: black;
}

nav {
    border: 3px;
    border-style: dashed;
    border-color: red;
}

#week {
    border: 3px;
    border-style: dashed;
    border-color: red;
}

.day{
    border: 3px;
    border-style: dashed;
    border-color: red;
}

#quoteText {
    font-size: 25px;
}


.monthDay{
    border: 2px solid black;
    height: 75px;
    width: 75px;
    display: inline-block;
}